<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9WsRkNKZ32K8UEN446UBrENeMuBKIx88</string>
	<key>GCM_SENDER_ID</key>
	<string>873917075453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.zahirlalam.HindiGeniusApp</string>
	<key>PROJECT_ID</key>
	<string>hindigenius</string>
	<key>STORAGE_BUCKET</key>
	<string>hindigenius.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873917075453:ios:6cbc23c754cf12b931d394</string>
</dict>
</plist>